/*
 *= require_tree .
 *= require_self
 */

 body a {
   color: inherit;
   &:hover {
     text-decoration: none;
   }
 }

 header {
   position: fixed;
   top: 0;
   z-index: 1;
   height: 50px;
   width: 100%;
 }

 main {
   margin-top: 50px;
 }